h1 {
text-shadow: 1px 1px yellowgreen;
}

#container {
    display: grid;
    border: 5px solid black;
    width: 720px;
    height: 720px;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto);
}

#button {
    margin-left: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}